.add-option-error{
    color: $off-white;
    font-style: italic ;
    padding: 0 $m-size;
    margin: $m-size 0 0 0;
    text-align: center;
}

.add-option{
    display: flex;
    flex-direction: column;
    padding: $m-size;
}

.add-option__input{
    flex-grow: 1;
    background:$lighter-blue;
    border:none;
    border-bottom: .3rem solid darken($lighter-blue, 10%);
    padding: $s-size;
    color:white;
    margin: 0 0 $s-size 0;
    word-wrap: break-word;

}

@media (min-width: $desktop-breakpoint){
    .add-option{
        flex-direction: row;
    }
    .add-option__input{
        margin: 0 $s-size 0 0 ;
    }
}