.option {
    border-bottom: 1px solid lighten($light-blue,10%);
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0.5rem;
}

.option__text {
    color: whitesmoke;
    font-weight: 500;
    font-size: 1.7rem;
}