//Colors
$deep-blue: #000724;
$light-red: #fd0606c0;
$lighter-blue: #1b2031;
$light-pink: #eec4f8;
$dark-blue: #010c2a;
$off-white: #aed4ff;
$light-blue: #232b3d;
//Spacing
$s-size:1rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
